<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登陆-自习预约管理系统</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" href="assets/images/favicon-32x32.png">
    <!-- Base Styling  -->
    <link rel="stylesheet" th:href="@{/assets/main/css/fonts.css}">
    <link rel="stylesheet" th:href="@{/assets/main/css/style.css}">
</head>

<body>
<div id="main-wrapper" class="show">

    <div class="login-tabib">
        <div>
            <div class="login-main">
                <form class="theme-form" th:action="@{/logincheck}">
                    <h4 class="text-center">用户登陆</h4>
                    <div class="form-group m-b-10">
                        <label class="col-form-label">用户名</label>
                        <input class="form-control" type="text" placeholder="学号" name="username">
                    </div>
                    <div class="form-group m-b-10">
                        <label class="col-form-label">密码</label>
                        <div class="form-input position-relative">
                            <input class="form-control" type="password" placeholder="密码" name="password">
                            <div class="show-hide"><span class="show"></span></div>
                        </div>
                    </div>
                    <div class="form-group mb-0">
                        <div class="mt-3">
                            <button class="btn btn-primary w-100" type="submit">登陆</button>
                        </div>
                    </div>
                    <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}" class="text-center"></p>
                </form>
            </div>
        </div>
    </div>

</div>

<!-- JQuery v3.5.1 -->
<script src="assets/plugins/jquery/jquery.min.js"></script>

<!-- popper js -->
<script src="assets/plugins/popper/popper.min.js"></script>

<!-- Bootstrap -->
<script src="assets/plugins/bootstrap/js/bootstrap.js"></script>

<!-- Moment -->
<script src="assets/plugins/moment/moment.min.js"></script>

<!-- Date Range Picker -->
<script src="assets/plugins/daterangepicker/daterangepicker.min.js"></script>

<!-- Main Custom JQuery -->
<script src="assets/js/toggleFullScreen.js"></script>
<script src="assets/js/main.js"></script>

</body>

</html>